*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
}

.container{
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    margin-top: 100px;
    padding: 40px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.taskDone{
    text-decoration: line-through;
}

.my-button{
    background-color: red;
    border: 1px solid black;
    color: black;
    padding:  5px 10px;
    cursor: pointer;
}